body {
  font-size: 1.5em;
  font-family: "Lato", "Sans-Serif", "Arial";
  line-height: 1.4em;
  color: #ffffff;
  background-color: #222222;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

.main_box {
  width: 800px;
  margin: 6em auto;
  padding: 3em;
  background-color: #373737;
  border-radius: 1em;
  box-shadow: 3px 3px 7px 3px #0000006b;
  text-align: center;
}

.external_site_button {
  background-color: #252525;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px #0000006b;
  color: #ffffff;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  outline-color: #252525;
  outline-width: 2px;
  outline-style: none;
}

.external_site_button:hover {
  outline-color: #ff4d05;
  outline-width: 2px;
  outline-style: solid;
}
