body {
  font-size: 1.5em;
  font-family: "Open Sans", "Sans-Serif", "Arial";
  line-height: 1.4em;
  color: #dddddd;
  background-color: #222222;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

.external_site_button {
  background-color: #252525;
  border-radius: 10px;
  color: #ff4c05;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
